<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Diary</title>
    <link href="https://fonts.googleapis.com/css?family=Pangolin:400,700|Proxima+Nova" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/diary.css"/>
    <script src="/js/diary.js" defer="true"></script>
  </head>

<body>
  <article>
    <section class="h1">
      <h1> {{date}} </h1>
      <hr/>
    </section>
    <section class="span1">
      <span> {{diaryContent}} </span>
      <p> edit </p>
    </section>
    <section class="button1">
      <div> <img src="./images/back.png" alt="<"> </div>
      <div> Today </div>
      <div> <img src="./images/forward.png" alt=">"> </div>
    </section>
  </article>
</body>
